<div id="wrapper-dark" [ngClass]="{'wrapper-dark': darkModeOn, 'wrapper-light': !darkModeOn}">
  <div class="button-wrapper">
      <button [ngClass]="{'button-dark': darkModeOn,
          'button-light': !darkModeOn}" id="mode" (click)="toggleMode()">
          {{ darkModeBanner }}
      </button>
  </div>
  <div id="main">
      <h1 id="output">
        {{output}}
      </h1>
  </div>
  <div>
    <form [formGroup]="inForm" (ngSubmit)="submitText()">
      <div>
          <textarea id="input" [ngClass]="{'textarea-dark': darkModeOn, 'textarea-light': !darkModeOn}" formControlName="text"
          placeholder="Paste your text here..." rows="10" cols="100"></textarea>
      </div>
      <input formControlName="interval" id="interval" type="number" [ngClass]="{'input-dark': darkModeOn, 'input-light': !darkModeOn}" min="1" placeholder="Time Interval">
      <button type="submit" [ngClass]="{'button-dark': darkModeOn,
      'button-light': !darkModeOn}" [disabled]="inForm.invalid">Start Reader</button>
    </form >
  </div>
</div>
